{% extends 'locator/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Upload Files and Download Processed Data</h1>
        <p class="lead">Upload your files and process them accordingly.</p>
        <hr class="my-4">
        <p>Select one or multiple files and click the upload button to process them.</p>
    </div>

    <div class="row mt-4">
        <!-- PDF to Excel Form -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Upload PDF Files</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'upload_pdfs' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="pdfFiles">Choose PDF Files</label>
                            <input type="file" class="form-control-file" id="pdfFiles" name="pdf_files" accept=".pdf" multiple required>
                        </div>
                        <button type="submit" class="btn btn-primary">Upload and Convert PDFs</button>
                    </form>

                    {% if excel_file_url %}
                        <div class="alert alert-success mt-3">
                            <a href="{{ excel_file_url }}" class="alert-link">Download Excel File</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- SKU Aggregation Form -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Upload Excel Files for SKU Aggregation</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'aggregate_skus' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="excelFiles">Choose Excel Files</label>
                            <input type="file" class="form-control-file" id="excelFiles" name="excel_files" accept=".xlsx" multiple required>
                        </div>
                        <button type="submit" class="btn btn-primary">Upload and Aggregate SKUs</button>
                    </form>

                    {% if aggregated_file_url %}
                        <div class="alert alert-success mt-3">
                            <a href="{{ aggregated_file_url }}" class="alert-link">Download Aggregated Excel File</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
